#gameContainer {
    text-align: center;
}

#gameBoard {
    width: 500px;
    height: 500px;
    border: 3px solid #000;
}

#scoreText {
    font-family: 'Arial', sans-serif;
    font-size: 100px;
}

#resetButton {
    font-size: 22px;
    padding: 10px 20px;
    border-radius: 15px;
    width: 100px;
    height: 50px;
    border: 4px solid #000;
    cursor: pointer;
}