body {
    background: linear-gradient(to bottom, red,green, blue);
    width: 100vw;
    overflow: hidden;
}
canvas {
    padding: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#collisionCanvas {
    display: none;
}